<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Quick Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark " data-bs-theme="dark">
            <div class="container-fluid">
               <span class="navbar-brand mb-0 h1"><i class="ri-file-2-line"></i> Quick Notes</span>
              
               <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="checkbox-label">
                  <i class="ri-sun-line theme"></i>
                  <i class="ri-moon-line theme"></i>
                  <span class="ball" id="Ball"></span>
                </label>
              </div> 
            </div>
          </nav>
    </header>